nav ol li
{
display: inline-block ;
background-color:hsl(0, 100%, 85%)

}

a{


  margin-right: 80px;
  color: #ffb3b3 ;
}
h1{
  border :2px solid #ffb3b3;
}
<<<<<<< HEAD
header{
  background-color:#e6e6ff ;

}

}
=======
>>>>>>> 2eadccd17835932a6983a089da129fafdedc1c07

