nav ol li
{
display: inline-block ;
margin-right: 20px;


}

a{

  margin-right: 100px;
  
}
h1{
  border :2px solid #ffb3b3;
}

header{
  background-color:#e6e6ff ;

}
body {
  background-image: url('m.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}









